.advantages-section {
  padding-bottom: 47px;
}

.advantages-item {
  display: flex;

  margin-top: -30px;
  margin-left: -30px;
}

.section-desc {
  flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;
}

.advantage-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.icons {
  background-color: var(--secondary-background-color);
  border-radius: 4px;

  padding: 25px 100px;
  margin-bottom: 30px;
}
